*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container{
    background-color: black;
min-height: 100vh;
width: 100%;
overflow: hidden;
position:relative ;
}

header{
display: flex;
justify-content: space-between;
margin: auto;
width: 80%;
padding: 20px 0;
align-items: center;
}
.logo{
    width: 40px;
}
ul li {
display: inline-block;
}

ul li a {
color: azure;
text-decoration: none;
margin: 0 10px;
}
.content{
display: flex;
justify-content: space-between;
align-items: center;
width: 80%;
margin: auto;


}
.content .text{
    width: 40%;
    color: rgb(224, 224, 234);
}
.content .text h2{
    font-size: 18px;
    text-transform: uppercase;
}
.content .text p {
    font-size: 20px;
    margin: 20px 0;
}

.content .text a{
  text-decoration: none; 
  background-color: aliceblue; 
border-radius: 20px;
color: black;
padding: 8px 15px;

}

.content .img{
width: 30%;
}
.content .img img{
    width: 180px;
}

.icons{
    position: absolute;
    bottom: 20px;
transform: translateX(-50%);
left: 50%;
}

.icons img{
    width: 40px;
   cursor: pointer; 
   transition: 05s;
}
.icons img:hover{
    transform:scale(1.2) ;
    
}